@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


:root {
    --light_mode_white: #FAFAFA;
    --light_mode_black: #1a1919;
    --light_mode_shadow: #696464;
  }

* {
    box-sizing: border-box;
}

body {
    background: var(--light_mode_white);
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
    margin: 0;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: var(--light_mode_white);
    border: 5px solid var(--light_mode_white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--light_mode_black);
    border: 2px solid var(--light_mode_white);
}

h1 {
    letter-spacing: 3px;
    color: var(--light_mode_black);
}

footer{

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: var(--light_mode_black);
}

footer a {
    text-decoration: none;
    color: var(--light_mode_black);
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: var(--light_mode_white);;
    border-radius: 10px;
    box-shadow: 0 3px 15px var(--light_mode_shadow);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container {
    background-color: var(--light_mode_white);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .info .number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.modal {
    text-decoration: none;
    color: var(--light_mode_black);
    
}

.pokemon .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.poke-container :hover  {
    transform: scale(1.3,1.3);
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
    cursor: pointer;
}

.poke-container :hover .info {
    transform: scale(1,1);
}

.poke-container :hover .img-container {
    transform: scale(1.2,1.2);
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}

.pokemon .info :hover {
    transform: scale(1,1);
}

.pokemon .img-container :hover {
    transform: scale(1,1);
}




